<article class="full-page" id="my-projects">
    <h1>My Projects</h1>
    <section class="tiles">
        <div id="add-project" class="tile add noselect">
            <div class="tile-img">
              <i class="fa fa-plus-circle"></i>
            </div>
            <div class="tile-title">
                Create Project
            </div>
            <div class="tile-desc">
            
            </div>
            <div class="tile-buttons">

            </div>
        </div>
    </section>
</article>