body,html {
    height:100%;
    width:100%;
    min-height:100%;
    margin: 0;
    display:flex;
    flex-direction: column;
    overflow-x:hidden;
    padding: 0;
}
/* Header */
ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
#site-header {
    width:100%;
    flex:1;
    display: flex;
    z-index:100;
    background: #FFB300;
}
#header-cont {
    display: -webkit-flex;
    display: flex;
    width:100%;
    max-height:100%;
    -webkit-flex-direction: row;
    flex-direction: row;
}
.site-logo {
    color: white;
    font-size:150%;
    font-weight: 600;
    margin-left: 2%;
}
.profile-icon {
    z-index:10;
    height: 0;
    padding-bottom: 10%;
    width: 10%;
    overflow: hidden;
    border-radius:100%;
    border: solid 2px #FFB300;
    margin-top:1%;
    text-align:center;
    -webkit-box-shadow: 0px 0px 0px 3px rgba(255,255,255,1);
    -moz-box-shadow: 0px 0px 0px 3px rgba(255,255,255,1);
    box-shadow: 0px 0px 0px 3px rgba(255,255,255,1);
}
.profile-wrapper {
    background-color:white;
    padding:0;

}
.profile-img{
    width:100%;
    position: relative;

    cursor: pointer;
}
#header-menu-btn {
    margin-right:2%;
}
#hamburger {
    cursor: pointer;
}
#hamburger:hover svg path {
    stroke: #FFF59D;
}
.flex-center-row {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center; 
}
.flex-right {
    justify-content: flex-end;
    align-items: flex-end;
}
.flex-left {
    justify-content: flex-start;
    flex:5;
}
/* Container */
#container {
    display:flex;
    flex-direction: row;
    flex:7;
}

#sidemenu {
    flex:1;
    display:flex;
    position: relative;
    min-width:270px;
    background: white;
    display: none;
    font-size:150%;
    border-left: solid 1px #fbf9ee;
}
.menu-push {
    display:block;
    padding-top: 30%;
}

/* Sidemenu */
.menu-items {
    height:70%;
    width:100%;
    overflow-y:auto;
    overflow-x: hidden;
    position: absolute;
    display:block;
}
.menu-item {
    padding: 5%;
    width:100%;
    cursor: pointer;

}
.menu-item:hover {
    background: #f5f5f5;
}
.sidemenu-footer {
    width:100%;
    position: absolute;
    bottom:0;
    right: 0;

    text-align: right;
}

.footer-cont {
    margin:5%;
}
.core-button {
    -moz-box-shadow:inset 0px 1px 0px 0px #5A6EC2;
    -webkit-box-shadow:inset 0px 1px 0px 0px #5A6EC2;
    box-shadow:inset 0px 1px 0px 0px #5972a7;
    background-color:#5A6EC2;
    border:1px solid #091C6A;
    border-radius:2px;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-size:13px;
    font-weight:bold;
    padding:12px 19px;
    text-decoration:none;
}
.core-button:hover {
    background-color:#5972a7;
}
.core-button:active {
    position:relative;
    top:1px;
}

#content {
    margin-top:3%;
    margin-bottom:3%;
    flex:4;
    display:flex;
    overflow-y:auto;
    overflow-x: hidden;
}
.animate-cont {
    margin-right:12.5%;
}

/* Swiper */
.swipe-stack {
    flex:1;
    overflow:hidden;
    display:flex;
    justify-content: center;
    text-align: center;
    margin:0 auto;
    transition-property: all;
    transition-duration: .5s;
    transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}
.swiper {
    position: absolute;
    width:90%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    left: 0;
    right: 0;
}
.swipe-container {

    background:#f5f5f5;
    transition: 1s;
    display:flex;
    min-height:300px;
    width:100%;
    height:100%;
    border: solid 2px #f1f1f1;
    flex-direction: column;
}
.profile-container {
    flex:6;
    overflow-y:auto;
    overflow-x: hidden;
    margin-top:1%;

}
.profile-images {
    width:90%;
    background:white;
    margin:0 auto;
    border: solid 2px #f1f1f1;
    text-align: center;
}
.profile-info {
    width:90%;
    margin:0 auto;
    text-align: left;
}
.swipe-selection{
    width:100%;
    min-height: 100px;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;


}
.swipe-yes {
    color:#5A6EC2;
}
.swipe-no {
    color: #FFB300;
    border-left: solid 2px #f1f1f1;
}
.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;    
    -moz-user-select: none;     
    -ms-user-select: none;      
    user-select: none;           

}
.swipe-yes:hover, .swipe-no:hover {
    background: #fbf9ee;
}
.swipe-yes, .swipe-no {
    user-select: none; 
    cursor: pointer;
    display: flex;
    height:75px;
    width: 75px;
    align-items: center;
    justify-content: center;
    background: white;
    border-radius:100%;
    flex-basis: auto;
    border: solid 2px #f1f1f1;

    font-size:3em;

}
.swipe-anim {
    /* Firefox */
    -moz-transition: all 1s ease;
    /* WebKit */
    -webkit-transition: all 1s ease;
    /* Opera */
    -o-transition: all 1s ease;
    /* Standard */
    transition: all 1s ease;
    opacity:1;
}
.swipe-anim-right {
    -moz-transform: scale(1.2) rotate(-30deg) translate(500px);
    -webkit-transform: scale(1.2)rotate(-30deg) translate(500px);
    -o-transform: scale(1.2) rotate(-30deg) translate(500px);
    transform:scale(1.2) rotate(-30deg) translate(500px);
    opacity: 0;

}
.swipe-anim-left {
    -moz-transform: scale(1.2) rotate(30deg) translate(-500px);
    -webkit-transform: scale(1.2) rotate(30deg) translate(-500px);
    -o-transform: scale(1.2) rotate(30deg) translate(-500px);
    transform: scale(1.2) rotate(30deg) translate(-500px);
    opacity: 0;

}
/** Desktop */
@media screen and (min-width: 840px) {
    /* Swiper */
    .swipe-container {

        min-height:700px;
        height: auto;

    }
    .swiper {
        max-width:600px;
        min-height:700px;
    }
    #content {
        margin-top:1%;
        margin-bottom:1%;
    }
    .swipe-selection{
        flex:3;
    }
    .swipe-yes, .swipe-no {
        font-size:5em;
        height:150px;
        width: 150px;
    }
}
/** Mobile */
@media screen and (max-width: 894px) {
    #sidemenu {
        flex:4;
    }
    .profile-icon {
        margin-top:10px;
        margin-right:10px;
    }
    
}
/** Mobile Landscape */
@media screen and (max-width: 600px) and (orientation : landscape){
    .swiper {
        height:80%;
    }
    .profile-icon {
        margin-top:10px;
        margin-right:10px;
    }
    
}