body,html {
    height:100%;
    width:100%;
    min-height:100%;
    margin: 0;
    display:flex;
    flex-direction: column;
    overflow-x:hidden;
    padding: 0;
}
.site-logo a{
    text-decoration: none;
    color: white;
    font-weight: 700;
    font-size:200%;
}
a {
    text-decoration: none;
    color: #5A6EC2;
}
/* Header */
ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}
#site-header {
    width:100%;
    display: flex;
    flex: 0.3 0 auto;
    z-index:100;
    background: #FFB300;
}
#header-cont {
    display: flex;
    width:100%;
    max-height:100%;
    flex-direction: row;
}
.site-logo {
    color: white;
    font-size:150%;
    font-weight: 600;
    margin-left: 2%;
}
.profile-icon {
    z-index:100;
    height: 0;
    position:absolute;
    right:6%;
    padding-bottom: 10%;
    width: 10%;
    overflow: hidden;
    border-radius:100%;
    border: solid 2px #FFB300;
    margin-top:1%;
    text-align:center;
    -webkit-box-shadow: 0px 0px 0px 3px rgba(255,255,255,1);
    -moz-box-shadow: 0px 0px 0px 3px rgba(255,255,255,1);
    box-shadow: 0px 0px 0px 3px rgba(255,255,255,1);
}
.profile-wrapper {
    background-color:white;
    padding:0;

}
.profile-img{
    width:100%;
    position: relative;

    cursor: pointer;
}
#header-menu-btn {
    margin-right:2%;
}
#hamburger {
    cursor: pointer;
}
#hamburger i {
    color: white;
    font-size:2em;
}
#hamburger:hover i {
    color: #FFF59D;
}
.flex-center-row {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center; 
}
.flex-right {
    justify-content: flex-end;
    align-items: flex-end;
}
.flex-left {
    justify-content: flex-start;
    flex:5;
}
/* Container */
#container {
    display:flex;
    flex-direction: row;
    flex:7;
    position: relative;/* need this to position inner content */
    overflow-y: auto;
}
.sidemenu-active {
    overflow-y:hidden !important;
}
#sidemenu {
    flex:1;
    display:flex;
    position: relative;
    min-width:270px;
    background: white;
    display: none;
    font-size:150%;
    border-left: solid 1px #fbf9ee;
}
.menu-push {
    display:block;
    padding-top: 30%;
}

/* Sidemenu */
.menu-items {
    height:70%;
    width:100%;
    overflow-y:auto;
    overflow-x: hidden;
    position: absolute;
    display:block;
}
.menu-items a {
    text-decoration: none;
    color:#666;
}
.menu-item {
    padding: 5%;
    width:100%;
    cursor: pointer;

}
.menu-item:hover {
    background: #f5f5f5;
}
.sidemenu-footer {
    width:100%;
    position: absolute;
    bottom:0;
    right: 0;

    text-align: right;
}

.footer-cont {
    margin:5%;
}
.core-button {
    -moz-box-shadow:inset 0px 1px 0px 0px #5A6EC2;
    -webkit-box-shadow:inset 0px 1px 0px 0px #5A6EC2;
    box-shadow:inset 0px 1px 0px 0px #5972a7;
    background-color:#5A6EC2;
    border:1px solid #091C6A;
    border-radius:2px;
    display:inline-block;
    cursor:pointer;
    color:#ffffff;
    font-size:13px;
    font-weight:bold;
    padding:12px 19px;
    text-decoration:none;
}
.core-button:hover {
    background-color:#5972a7;
}
.core-button:active {
    position:relative;
    top:1px;
}

#content {
    margin-top:3%;
    margin-bottom:3%;
    flex:4;
    display:flex;
    overflow-y:auto;
    overflow-x: hidden;
}
.animate-cont {
    margin-right:12.5%;
}

/* Swiper */
.swipe-stack {
    flex:1;
    overflow:hidden;
    display:flex;
    justify-content: center;
    text-align: center;
    margin:0 auto;
    transition-property: all;
    transition-duration: .5s;
    transition-timing-function: cubic-bezier(0, 1, 0.5, 1);
}
.rotTfive {
    transform: rotate(25deg);
}
.swiper {
    position: absolute;
    width:90%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    left: 0;
    right: 0;
}
.swipe-container {
    overflow-x:hidden;
    background:#f5f5f5;
    transition: 1s;
    display:flex;
    min-height:300px;
    width:100%;
    height:100%;
    border: solid 2px #f1f1f1;
    flex-direction: column;
}
.profile-container {
    flex:6;
    overflow-y:scroll;
    overflow-x: hidden;
    margin-top:1%;

}
.profile-images {
    width:90%;
    background:white;
    margin:0 auto;
    border: solid 2px #f1f1f1;
    text-align: center;
    overflow:hidden;
    max-height:350px;
}
.swiper-img {
    max-width:100%;
}
.profile-info {
    width:90%;
    margin:0 auto;
    text-align: left;
}
.swipe-selection{
    width:100%;
    min-height: 100px;
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;


}
.swipe-yes {
    color:#5A6EC2;
}
.swipe-no {
    color: #FFB300;
    border-left: solid 2px #f1f1f1;
}
.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;    
    -moz-user-select: none;     
    -ms-user-select: none;      
    user-select: none;           

}
.swipe-yes:hover, .swipe-no:hover {
    background: #fbf9ee;
}
.swipe-yes, .swipe-no {
    user-select: none; 
    cursor: pointer;
    display: flex;
    height:75px;
    width: 75px;
    align-items: center;
    justify-content: center;
    background: white;
    border-radius:100%;
    flex-basis: auto;
    border: solid 2px #f1f1f1;

    font-size:3em;

}
.swipe-anim {
    /* Firefox */
    -moz-transition: all 1s ease;
    /* WebKit */
    -webkit-transition: all 1s ease;
    /* Opera */
    -o-transition: all 1s ease;
    /* Standard */
    transition: all 1s ease;
    opacity:1;
}
.swipe-anim-right {
    -moz-transform: scale(1.2) rotateY(-80deg) translate(500px);
    -webkit-transform: scale(1.2) rotateY(180deg) translate(500px);
    -o-transform: scale(1.2) rotateY(180deg) translate(500px);
    transform: scale(1.2) rotateY(180deg) translate(500px);
    opacity: 0.0;

}
.swipe-anim-left {
    -moz-transform: scale(1.2) rotateY(-180deg) translate(-500px);
    -webkit-transform: scale(1.2) rotateY(-180deg) translate(-500px);
    -o-transform: scale(1.2) rotateY(-180deg) translate(-500px);
    transform: scale(1.2) rotateY(-180deg) translate(-500px);
    opacity: 0.0;

}
.full-page {
    position:absolute;
    width:70%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    left: 0;
    right: 0;
    word-wrap: break-word;
}
/** Desktop */
@media screen and (min-width: 840px) and (min-height: 900px) {
   .swipe-container {

        min-height:700px;
        height: auto;

    } 
}
@media screen and (min-width: 840px) {

    .profile-container {

        width:105%;

    }
    .swiper {
        max-width:600px;
        min-height:700px;
    }
    #content {
        margin-top:1%;
        margin-bottom:1%;
    }
    .swipe-selection{
        flex:3;
    }
    .swipe-yes, .swipe-no {
        font-size:5em;
        height:150px;
        width: 150px;
    }
    .profile-container {
        max-height:550px;
    }
}
/** Small Desktop */
@media screen and (min-width: 840px) and (max-height: 900px) {
    .profile-container {
        min-height: 450px;
        max-height:450px;

    }
    .swipe-container {
        max-height: 650px;
    }
    .profile-images {
        max-height:300px;
    }
}
/** Mobile */
@media screen and (max-width: 894px)and (orientation : portrait) {
    html 
    .profile {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #sidemenu {
        flex:4;
    }
    .profile-icon {
        margin-top:10px;
        margin-right:10px;
        width:20%;
        padding-bottom:20%;
        right:10%;
    }
    .full-page {
        width: 90%;
        margin: 0 auto;
        text-align:center;
    }
    .tile {
        margin: 0 auto;
    }
    .tiles {
        justify-content: center;
    }
    .profile-container {
        max-height:500px;
    }  
    .profile-images {
        max-height:190px;
    } 

}
/** Mobile */
@media screen and (max-width: 500px)and (orientation : portrait) { 
    .profile-container {
        max-height:300px;
    }
    .swiper {
        height:85%;
    }
    .profile {
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}
@media screen and (max-width: 894px)and (orientation : landscape) {
    .profile-icon {
        margin-top:10px;
        margin-right:10px;
        width:10%;
        padding-bottom:10%;
        right:7%;
    }

}
/** Mobile Landscape */
@media screen and (max-width: 600px) and (orientation : landscape){
    .swiper {
        height:80%;
    }
    .profile-icon {
        margin-top:10px;
        margin-right:10px;
        width:15%;
        padding-bottom:15%;
        right:10%;
    }


}
* {

}
.tiles {
    max-width:100%;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    flex-direction: row;
    flex-wrap: wrap;
}
.full-page {
    margin: 0 auto;
}
/* Projects Page */
.tile {
    width: 270px;
    margin: 2%;
    height: 280px;
    background: #f5f5f5;
    border: 2px solid transparent;
    outline: solid 1px #f1f1f1;
    transition: border 500ms ease-in;
    -moz-transition: border  300ms ease-in;
    -moz-transition: border  300ms ease-in;
    -webkit-transition: border  300ms ease-in;
    -webkit-transition: border 300ms ease-in;
    text-align: center;



}
.tile:hover {
    border: 2px solid #f1f1f1;
}
.tile-title {
    font-size:105%;
    font-weight:600;
    margin:3%;
    color:black;
}
.tile-desc {
    margin:3%;
}
.tile-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width:90%;
    background:white;
    height:60%;
    text-align:center;
    border: 1px solid #f1f1f1;
    margin: 0 auto;
    margin-top:2%;

}
.tile-img, .tile-title {
    transition: color 500ms ease-in;
    -moz-transition: color  300ms ease-in;
    -moz-transition: color  300ms ease-in;
    -webkit-transition: color  300ms ease-in;
    -webkit-transition: color 300ms ease-in;
    transition: border 500ms ease-in;
    -moz-transition: border  300ms ease-in;
    -moz-transition: border  300ms ease-in;
    -webkit-transition: border  300ms ease-in;
    -webkit-transition: border 300ms ease-in;
    cursor: pointer;
}
.tile-img:hover {
    border: 1px solid #5A6EC2; 
}
.tile-title:hover {
    color: #5A6EC2;
}
.tile-img img{
    height:90%;  
}
.add {
    outline: 2px dashed #cecece;
    cursor: pointer;

}
.add .tile-img {
    transition: color 500ms ease-in;
    -moz-transition: color  300ms ease-in;
    -moz-transition: color  300ms ease-in;
    -webkit-transition: color  300ms ease-in;
    -webkit-transition: color 300ms ease-in;
    height:80%;
    font-size:10em;
    color:#5A6EC2;
}
.add .tile-img:hover {
    color: #ccc;
}
.tile-buttons a {
    cursor: pointer;

}
.tile-buttons i {
    vertical-align: middle;
}
.tile-buttons .edit {
    color:#FFB300;
    font-size:250%;

}
.tile-buttons .edit:hover, .tile-buttons .matcher:hover, .tile-buttons .matches:hover {
    color:#666;
}

.tile-buttons .matcher, .tile-buttons .matches {
    color: #5A6EC2;
    font-size:240%;

}

/* Project Swipers */
.profile-title {
    padding: 0;
    margin: 0;
    color: black;
}
/* Project Swipers */
.profile-subtitle {
    padding: 0;
    margin : 0;
    color: #666;
    flex: 5;
    font-size:90%;
}
/* Project Swipers */
.profile-right-subtitle {
    padding: 0;
    margin : 0 1% 5px 0;
    color: #666;
    font-weight:normal;
    font-size:90%;
    text-align:right;
    flex:4;
}
.subs {
    display:flex;
}
.profile-desc {
    margin: 5px 0 5px 0;
}
h4.profile-list {
    padding:0;
    margin:0;
    margin : 0 0 5px 0;
}
ul.profile-list {
    list-style-type: disc;
    margin-left:20px;
}
.no-matches {
    display:none;
    color: #666;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    flex: 1;
    margin: 0 auto;
    max-height:600px;
    overflow:hidden;
}
.no-matches .no-match-msg {

}
.no-matches i {
    font-size:20em;
}
.no-matches .no-match-dir {

}
.spin {
    animation:spin 4s linear infinite;
}
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }


/** Profile */
.profile-page-images{
    max-width:400px;
    max-height:400px;
    overflow:hidden;
    border: solid 1px #f1f1f1;
    margin-bottom: 1%;
}
.profile-page-img {
    width:100%;
}

.profile-page-info {
    text-align: left;
}
.profile-page-info h2 {
    color:#666;

}
.profile-page-info .profile-list-cont {
    margin-bottom: 1%;
}

.matches-cont {
    margin-top: 25px;
}

.match {
    border-bottom: solid #f1f1f1 1px;
    padding-top:25px;
    padding-bottom:25px;
}
.match-name {
    font-size:150%;
}
.match-name, .match-email{
  
}
.match-role {
    color: #FFB300;
}

#project-matches h1{
    border-bottom: solid #f1f1f1 1px;
    padding-bottom: 25px;
}

.match-image, .match-text {
    display:inline-block;
    vertical-align: middle;
}

.match-image {
    height:80px;
    width:80px;
    border: solid 1px #f1f1f1;
    border-radius: 100%;
    text-align: center;
    overflow:hidden;
}
.match-image img {
    height:110%;
}
.site-form form, .form-fields {
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.site-form input {
    padding:8px 0 8px 1px;
    flex:8;
    margin: 2px 0 2px 0;
    border: solid 1px #666;
}
.form-description {
    text-align: center;   
}
.form-error {
    color:red;
}
.addition-field {
    width:250px;
    margin-top:2px;
    text-align:left;
    justify-content: center;

}
.form-field {
    display: inline-block;
    text-align: center;
}
.addition-field a {
    font-weight:600;
    font-size:130%;
    cursor: pointer;
    color: #5A6EC2;
    margin-left:30px;
}
.addition-field span {
    font-size: 75%;
}
.addition-field a:hover {
    color:black;
}
.dropdown {
    width: 149px;
}

.dropdown select {
    width: 100%;
}

.dropdown option,
.dropdown:after,
.dropdown::after,
.dropdown select {
    color: #fff;
}

:root .dropdown select,
:root .dropdown:after,
:root .dropdown::after {
    display: block;
    background: #aaaaaa;
}

:root .dropdown select,
:root .dropdown option {
    padding: 8px;
}

:root .dropdown {
    position: relative;
    display: inline-block;
    border: 0;
}

:root .dropdown::after {
    content: "\25bc";
    position: absolute;
    top: 0;
    right: 0;
    display: block;
    width: 32px;
    font-size: 12px;
    line-height: 34px;
    text-align: center;

    -webkit-pointer-events: none;
    -moz-pointer-events: none;
    pointer-events: none;
}

:root .dropdown select {
    height: 34px;
    border: 0;
    vertical-align: middle;
    font: normal 12px/14px "Segoe UI", Arial, Helvetica, Sans-serif;
    outline: 0 none;

}